<% if (typeof messages !== 'undefined' && messages.length) { %>
    <% messages.forEach(function(message) { %>
        <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
            <%= message.text %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% }); %>
<% } %>